:root {
    --backColor1: rgb(73, 72, 117);
    --backColor2: rgb(54, 54, 88);
    --overlayColor: rgba(33, 33, 61, 0.9);
    --overlayColor2: rgba(54, 54, 88, .7);
    --headingColor: white;
    --textColor: rgb(243, 243, 243);
}

body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    /* font-family: "Open Sans", sans-serif; */
    /* font-family: "Roboto Slab", serif; */
    font-family: "Montserrat", sans-serif;

  
}




h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}




#homePage h1,
#homePage h2,
#homePage h3,
#contact h5 {
    border-bottom: 4px solid ; 
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) 1;
    color: white;
}

#header {
    display: flex;
    /* overflow: visible;  */
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--backColor1);
    color: white;
    position: sticky;
    z-index: 2000;
    top: 0;
    
    
}

#header .logo {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

#header a strong{
    background:white;
    color: var(--backColor2);
    padding: 5px;
}

#header .menu {
    font-size: 24px;

    cursor: pointer;
    user-select: none; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color:white;
}



/* popup menu when menu at the header is clicked */
#popup-menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: white; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    border-radius: 5px;
    z-index: 1001;
 
    
    
}

#popup-menu .links a {
    display: block;
    color: white;
    text-decoration: none;
    /* padding: 10px 20px; */
    text-align: center;
    font-size: 24px;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    padding: 20px 150px 20px 150px;
    /* margin: 0px 160px 0px 160px; */
    
   
}

#popup-menu .links a:hover {
    background-color: rgba(241, 241, 241, 0.2);
 
}

#popup-menu .iconContainer img{
    padding-top: 30px;
    width: clamp(60px, 10%, 10%);
  }
  
  #popup-menu  .icons {
    display: flex;
    text-align: center;
    justify-content: center;
    /* padding-top: 30px; */
    margin: 0px;
    
  }
  
  #popup-menu  .iconContainer:hover img{
    animation: scaleUp 0.3s ease forwards;
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(1); /* Initial size */
    }
    to {
      transform: scale(1.3); /* Scale up to 1.1 times */
    }
  }

/* blurs out the background */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    
    /* filter: blur(5px); */
}

#overlay{
    background-color: var(--overlayColor);
    z-index: 1000; 
}

#overlayPic{
    background-color: var(--overlayColor2);
    z-index: -1; 
    
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(3px);
}

.video-container img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
    /* filter: sepia(1) saturate(5) hue-rotate(270deg); */
}

/* .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 20%;
} */

#nameTitle {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-family: Arial, sans-serif;
}

#nameTitle h1{
    /* font-size: 100px; */
    border-bottom: 4px solid; 
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) 1;
    /* padding-bottom: 20px;  */
    /* padding: 0px 7% 20px 7%; */
    /* margin: 0 10px; */
    display: inline-block; 
    margin-bottom: 50px;
    -webkit-text-stroke: 3px black;

}

#nameTitle p {
    padding-top: 0px;
    padding-bottom: 30px;
    margin-top: 0px;
    /* font-size: 50px; */
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px black;
    margin: 5px 0;
}

#nameTitle .nameLinks{
    padding-bottom: 100px;
}


#nameTitle .nameLinks a:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color:black;
}
#nameTitle .nameLinks a {
    border: 2px solid white;
    margin: 0px 50px 0px 50px;
    padding: 20px 15px 20px 15px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
    background-color: rgba(0,0,0, 0.5);
}
#nameTitle .nameLinks img {
    width: 1.5em; 
    height: 1.5em; 
    transform: translate(0, 25%);
    margin-right: 7px; 
}

@media screen and (min-width: 760px) {
    h1 {
        font-size: 100px;
    }

    #nameTitle p {
        font-size: 50px;
    }

}

@media screen and (max-width: 760px) {


    h1 {
        font-size: 15vw;
    }
    #nameTitle p {
        font-size: 9vw;
    }

    #nameTitle .nameLinks {
        display: none;
    }
}

.TextWrap {
    background-color: var(--backColor1);
}


/* About Me section */
#about {
    background-color: var(--backColor1);
    padding-bottom: 100px;

    /* display: flex; */
   
    justify-content: space-between; 
    align-items: center; 
    /* max-width: 800px;  */
    margin: 0 auto;
    padding: 20px; 
    /* margin-bottom: 0; */
}

#about .aboutContainer {
    display:grid;
}

#about .text{
    /* flex: 1; */
    grid-column: 1 / 2;
    /* padding-right: 20px; */
    
}

#about .image{
    flex: 1; 
    text-align: center;
    padding-top: 10px;
}

#about .image img {
    max-width: 85%; 
    height: auto; 
    border-radius: 50%; 
    
}

#about h2{
    font-size: 75px;
    padding-top: 50px;
    margin: 0px;
    padding: 50px 0px 0px 0px;
    text-align: center;
    color: var(--headingColor);
    text-decoration: none;
    /* border-bottom: 4px solid ;  */
    /* border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) 1; */
    /* margin: 0px 50px 0px 50px; */
}

#about p{
    font-size: 30px;
    /* padding: 50px 0px 0px 50px; */
    color: var(--textColor);
}

@media screen and (min-width: 760px) {


    #about .aboutContainer {
        
        grid-template-columns: 1fr 1fr;
    }

    #about .text{
        grid-column: 1 / 2; 
    }
    
    #about .image{
        
        grid-column: 2 / 3;
    }
    #about p{
        padding: 50px 0px 0px 50px; 
    }
    #about .h2Outside{
        display: none;
    }
}

@media screen and (max-width: 760px) {
    h2{
        text-align: center;
        margin: 0;
        padding-bottom: 50px;
    }

    

    #about .h2Inside{
        display: none;
    }

    #about .aboutContainer {
        grid-template-rows: 1fr 1fr;
        padding-top: 50px;
    }

    #about .text{
        grid-row: 2 / 3; 
    }
    
    #about .image{
        grid-row: 1 / 2;
    }

    #about p{
        padding: 50px 5% 0px 5%; 
        text-align:center;
    }

}

/* Projects Section  */
#projects {
    background-color: var(--backColor2);
    margin: 0 auto;
    
    padding-bottom: 50px;
}

#projects h3 {
    text-align: center;
    font-size: 75px;
    color: white;
    /* margin: 30px 10px; */
   
    
}

#projects .projectContainer {
    background: var(--backColor1);
    display: grid;
    align-items: center;
    margin-bottom: 20px;
    border: 5px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 auto;
    margin: 0px 5% 100px 5%;
}

#projects .projectContainer .text {
    color: var(--textColor);
    text-align: center;
    margin: 0px 40px 0px 40px;
}

#projects .projectContainer p {
    font-size: 1.3em;
    padding-top: 40px;
    line-height: 1.3;
}

#projects .projectContainer .image {
    text-align: center;
    margin: 0 auto;
    padding: 0px;
}

#projects .projectContainer .image img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
}

#projects h4 {
    text-align: center;
    color: var(--textColor);
    margin: 0;
    font-size: 2.5em;
    padding-top: 20px;
}

#projects .project-buttons {
    padding-top: 40px;
    gap: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#projects .moreButton {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 1.2em;
    background-color: #000000;
    transition: background-color 0.3s ease;
}

#projects .moreButton:hover {
    background-color: #ddd;
    color: black;
}

@media screen and (min-width: 760px) {

    #projects {
        padding-top: 50px;
    }

    #projects h3 {
        margin: 50px 33% 100px 33%;
    }

    #projects .projectContainer {
        grid-template-columns: auto 1fr;
        gap: 10px;
    }

    #projects .image {
        grid-column: 1 / 2;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #projects .text {
        grid-column: 2 / 3;
    }
}

@media screen and (max-width: 760px) {

    #projects {
        padding-top: 20px;
    }

    #projects h3 {
        margin: 100px 10px;
    }
    #projects .projectContainer {
        grid-template-rows: 1fr 1fr;
    }

    #projects .image {
        grid-row: 1 / 2;
    }

    #projects .text {
        grid-row: 2 / 3;
    }
}

/* Contact Section  */
#contact {
    background-color: var(--backColor1);
    padding-bottom: 100px;

   
    /* display: flex; */
    /* justify-content: center; */
}

#contact h5{
    text-align: center;
    font-size: 75px;
    color: white;
    /* margin-bottom: 0 auto; */
    /* padding-bottom: 0 auto; */
    
    /* padding-top: 50px; */
    /* margin-bottom: 50px; */
    
}

#contact .iconContainer img{
    width: clamp(80px, 10%, 10%);
  }
  
#contact  .icons {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 0 auto;
    margin: 0px;
    
    
  }
  
#contact  .iconContainer:hover img{
    animation: scaleUp 0.3s ease forwards;
}

@media screen and (min-width: 760px) {

   #contact h5 {
        margin: 100px 20% 100px 20%;
   }
}

@media screen and (max-width: 760px) {
    #contact h5{
        text-align: center;
        /* margin: 0 auto; */
        /* margin: 100px 0 100px 0; */
        padding-top: 20px;
    }
}
  
  @keyframes scaleUp {
    from {
      transform: scale(1); /* Initial size */
    }
    to {
      transform: scale(1.5); /* Scale up to 1.1 times */
    }
  }

.blur {
    filter: blur(15px);
}

h1{
    /* font-size: 100px; */
    border-bottom: 4px solid; 
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) 1;
    color: white;
    /* padding-bottom: 20px;  */
    padding: 0px 7% 20px 7%;
    display: inline-block; 
    margin-bottom: 50px;
    -webkit-text-stroke: 3px black;

}

#ProjectVideo {
    /* transform: translate(17%, 0%);
     */
     position: relative;
            padding-bottom: 56.25%; 
     text-align: center;
     /* height: 0; */
            /* overflow: hidden; */
            max-width: 100%;
            /* background: #000; */
     
}

#ProjectVideo iframe{
    margin: 5% 0 5% 0;
    width: 100%;
    /* height: auto; */
    position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

    
 
}

#ProjectStory,
#ProjectCode {
    background: var(--backColor2);
}

#ProjectOverview h2,
#ProjectStory h3,
#ProjectGameplay h4,
#ProjectCode h6 {
    
    margin: 0 auto;
    /* border-bottom: none; */
    /* text-align: center; */
    border-bottom: 3px solid white;
    
    font-size: 70px;
    /* padding-top: 50px; */
    color: var(--textColor);
}



#ProjectOverview p,
#ProjectOverview ul,
#ProjectStory p,
#ProjectGameplay p,
#ProjectCode p{
    color: var(--textColor);
    font-size: 24px;
    line-height: 1.5;
}



.collapsible {
    background-color: var(--backColor1);
    color: var(--textColor);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    /* border-radius: 5px; */
    transition: background-color 0.3s ease;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #ffffff; 
}

.collapsible:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding: 0 18px;
    /* margin: 0; */
    display: none;
    overflow: hidden;
    /* background-color: #f5f5f5; */
    border-radius: 5px;
    /* border: 1px solid #ddd; */
    margin-top: 10px;
}

.collapsible .icon {
    font-size: 40px;
}

pre {
    margin:0 auto;
 
    border-radius: 5px;

    overflow-x: auto;



}

@media screen and (min-width: 760px) {
    #ProjectOverview,
    #ProjectStory,
    #ProjectGameplay,
    #ProjectCode{
        padding: 100px 17% 100px 17%;
    }

 }
 
 @media screen and (max-width: 760px) {
    #ProjectOverview,
    #ProjectStory,
    #ProjectGameplay,
    #ProjectCode{
        padding: 100px 5% 100px 5%;
    }
 }


